// COLOR VARIABLES
$color-dark-gray:hsl(0, 0%, 63%);
$color-black:hsl(0, 0%, 0%);
$color-white:hsl(0, 0%, 100%);
$color-verydarkgray:hsl(0, 0%, 27%);

// FONT VARIABLES
$font-primary: 'Kumbh Sans', sans-serif;

//RESPONSIVE VARIABLES
$bp-desktop: 90em; //1440px
$bp-desktop-sm: 75em; //1200px
$bp-tablet: 50em; //800px
$bp-mobile: 25em; //375px

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 50%; 

    // @media only screen and (max-width: $bp-desktop-sm) {
    //     font-size: 50%;
    // }

    // @media only screen and (max-width: $bp-mobile) {
    //     font-size: 50%;
    // }

}

body {
    background-color: $color-white;
    font-size: 1.6rem;
    font-family: 'Spartan', sans-serif;
    color: $color-dark-gray;
}

// .container {

//     height: 100vh;
//     width: 100%;
//     overflow: hidden;
//     position: relative;
//     display: flex;
//     justify-content: center;
//     align-items: center;
    
// }

%navigation-styles {
    position: absolute;
    z-index: 2;
    color: $color-white;
    display: grid;
    align-items: center;
}

.navigation {

    &__container {
        @extend %navigation-styles;
        top: 10%;
        left: 10%;
        grid-template-columns: repeat(5, max-content);
        grid-gap: 4rem;



        //HIDE DESKTOP NAV BELOW TABLET WIDTH
        &--desktop {
            @media only screen and (max-width: $bp-tablet) {
                display: none;
            }
        }

        //HIDE MOBILE NAV ABOVE TABLET WIDTH
        &--mobile {
            @extend %navigation-styles;
            top: 0;
            left: 0;
            width: 100vw;
            padding: 4rem 8rem;
      
            grid-template-columns: max-content;
            
            @media only screen and (min-width: $bp-tablet) {
                display: none;
            }

            // & a {
            //     display: inline-block;
            //     position: relative;
            //     z-index: 5;
            // }

            // & span {
            //     display: inline-block;
            // }

            // & object {
            //     position: relative;
            //     z-index: -1;
            // }

            
            &--img-container {
                position: absolute;
                top: 4rem;
                left: 50%;
                transform: translateX(-50%);
            }

        }

        & img {
            margin-right: 3rem;
        }

        & a {

            text-decoration: none;
            color: $color-white;
            font-size: 1.5rem; 
            font-weight: 700;
            transform: translateY(3px);

            &:hover {
                &::after {
                    transform: scale(1);
                }

            }

            &::after {
                content: "";

                display: block;
                background-color: white;
                width: 100%;
                height: 2px;
                transform: scale(0);
                transition: all 0.2s;
            }
        }
    }
}

//UTILITY CLASSES
.bp_desktop_hide { //anything above tablet width HIDE element
    @media only screen and (min-width: $bp-tablet) {
        display: none;
    }
    
}


.bp_tablet_hide { //anything below tablet width HIDE element
    @media only screen and (max-width: $bp-tablet) {
        display: none;
    }
}