.carousel {
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;

    &__txt__item,
    &__item,
    &__item--hidden {
        display: none;
    }

    &__txt {

        &--container {

            overflow: hidden;
            width: 100%;
            height: 100%;
            position: relative;
            
            
            // display: flex;
            // flex-direction: column;
            // justify-content: center;
            // align-items: center;
        }

        &__item {
            padding: 9rem;

            &--innerContainer {
                height: 100%;
                display: grid;
                grid-template-rows: repeat(3, max-content);
                grid-gap: 3rem;
                align-content: center;
            }
 
            

            &--heading {
                color: $color-black;
                font-size: 5rem;
                font-weight: 700;
                line-height: 1.2;

            }

            &--details {
                font-size: 1.5rem;
                line-height: 1.6;
            }

            & a {

                &:link,
                &:visited {
                    text-decoration: none;
                    text-transform: uppercase;
                    color: $color-black;
                    font-size: 1.5rem;
                    letter-spacing: 1rem;
                }

                &:hover {
                    color: $color-dark-gray;

                    /* COULDNT GET THIS WORKING TO FILL THE SVG WITH DIFFERENT COLOR ON HOVER?
                    THE SCSS IS TARGETING THE RIGHT ITEM BG COLOR WORKS NOT SURE WHY FILL NOT WORKING
                    & object {
                        fill: red;
                    }
                    */
                }
                
            }
            
            

        }
        
    }


    &__item {
 
        & img {
            min-width: 100%;
            min-height: 100%;

            @media only screen and (max-width: $bp-tablet) {
                width: 100%;
                height: 100%;
            }
        }

        &--visible {
            display: block;
            height: 100%;
            width: 100%;
            animation: fadeVisibility 0.8s;
            // transition: all .2s;
        }
    }

    &__actions {
        // display: flex;
        // width: 100%;
        // justify-content: space-between;
        // position: absolute;
        // top: 50%;
        // transform: translateY(-50%);
        align-self: flex-start;
        position: absolute;
        top: 100%;
        transform: translateY(-100%);
        
        &--mobile {
            right: 0;
        }
        

        & button {
            background-color: black;
            color: white;
            width: 9rem;
            height: 9rem;
            border: 0;
            padding: 1rem;
            font-size: 2rem;
            font-weight: 700;
            cursor: pointer;

            &:hover {
                opacity: 0.7;
                
            }

            // &#carousel__button--previous {
            //     margin-left: 2rem;
            // }

            // &#carousel__button--next {
            //     margin-right: 2rem;
            // }
        }


    }
}

@keyframes fadeVisibility {
    0% {
        opacity: 0.5;
    }

    50% {
        opacity: 0.8;
        // transform: opacity linear;
    }
    100% {
        opacity: 1;
        // transform: opacity linear;
    }
}